<!DOCTYPE html>
<html>
  <head>
    <title>Targets | Bootstrap Levels</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="8a+DLZkMkc/ItM6t4yTkTw1poW8LRSwKwmwRdWDqCWq7J5GPw05XT+T9a1TWFRGGorRjaJweU/gBXDYqrvxVtQ==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
  </head>

  <body>
    <div class="container py-5">
      <a href="/">Table of contents</a>

      <hr>

      <div class="d-flex justify-content-around mb-3">
        <div class="mx-2 p-2 bg-primary text-white">First</div>
        <div class="mx-2 p-2 bg-success text-white">Second</div>
        <div class="mx-2 p-2 bg-danger text-white">Third</div>
      </div>

      <hr>

      <div class="d-flex">
        <div>
          <span>Inbox</span>
        </div>

        <div class="ms-auto">
          <span class="badge rounded-pill text-bg-danger">42</span>
        </div>
      </div>

      <hr>

      <div class="w-25 px-5 py-3 shadow text-end lh-lg opacity-75 border-start border-info">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad debitis iste minima molestiae repellat magni? Voluptas, odit voluptate quasi esse ea iure quibusdam error at architecto veritatis, beatae nihil?
      </div>

    </div>
  </body>
</html>
